<!DOCTYPE html>
<html>
<head>

    <title>Example of passport</title>
</head>

<body>
    <% if (!isAuthenticated) { %>
        <a href="/login">Log in here</a>
    <% } else { %>
        Hello, <%= user.name %>! because cookie in the browser.
        <a href="/index">ir a todos</a>
    <% } %>
</body>

</html> 