<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <title>Angular Alumnos App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />  
      
    <script src="./angular/lib/angular.min.js"></script>
    <script src="./angular/lib/angular-route.js"></script>
    <script src="./angular/src/app.js"></script>
    <script src="./angular/src/controllers.js"></script>
    <script src="./angular/src/services.js"></script>
  </head>
  <body>
      Hello, <%= user.name %>!
      <a ng-href="/logout">Logout</a>
    <div ng-view="">
    </div>    
  </body>
</html>
