<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <title>Angular Alumnos App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />  
      
    <script src="./angular/bin/angular.min.js"></script>
    <script src="./angular/bin/angular-route.js"></script>
    <script src="./angular/app.js"></script>      
    <script src="./angular/controllers.js"></script>
    <script src="./angular/services.js"></script>
    
  </head>
  <body>
    <div ng-view="">
    </div>    
  </body>
</html>
